*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background-color:#618191  ;
     padding: 1rem;
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
    background-color: white;
    max-width: 500px;
    width: 90%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

label{
    font-weight: bold;
    margin-bottom: 5px;
}

input{
    width: 50%;
    height: 25px;
    border: 1px solid #ccc;
    margin: 10px 0;
}

button{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background: #5F7C8A;
    color: white;
    border: 0;
    border-radius: 20px;
}

